_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

*.css
target/
Cargo.lock

static/blog/
# I use this because I use tide shell and I like seeing the less context (i made a custom function)
./index.less
.DS_Store
.idea
.obsidian
