@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@bg: #282A36;
@currentline: #44475a;
@fg: #F8F8F2;
@comment: #6272A4;
@d: #282F3E;

.standard-margin {
    margin-left: 20%;
    margin-right: 20%;
}

.hr-footer {
    height: 10px;
}

br {
    width: 50px;
}

* {
    font-family: "Ubuntu";
    background-color: @bg;
    color: @fg;
}

.page-hr {
    border-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
    border-left-color: lighten(@currentline, 25%);
    border-right-color: lighten(@currentline, 25%);
    border-top-color: lighten(@currentline, 25%);
    border-bottom-color: @currentline;
}

.page-hr-inv {
    border-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
    border-left-color: lighten(@currentline, 25%);
    border-right-color: lighten(@currentline, 25%);
    border-bottom-color: lighten(@currentline, 25%);
    border-top-color: @currentline;
}

header {
    display: flexbox;
    justify-content: center;
    align-content: center;
    text-align: center;
    & > .name {
        font: red;
        border-radius: 10px;
        border-color: black;
        border-spacing: 10 10;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    & > * > a > img {
        max-width: 20%;
    }
}

.about-ctr {
    .standard-margin;
}

.about {
    display: flex;
    margin: 10px;
    margin-bottom: 20px;
    gap: 100px;
    animation: fadein 0.5s;
}

.projects {
    .standard-margin;
    display: flex;
    gap: 100px;
    padding-bottom: 20px;
}

.projectlist > div {
    display: block;
    flex-direction: column;
    padding: 20px;
}

.ubuntucinnamon {
    display: flex;
    flex-direction: column;
    background: lighten(@bg, 10%);
    padding: 10px;
    padding-right: 101px;
    border-radius: 20px;
    float: left;
}

.ristretto {
    display: flex;
    flex-direction: column;
    background: lighten(@bg, 10%);
    padding: 10px;
    padding-right: 169px;
    border-radius: 20px;
    float: left;
}

.ubuntucinnamon-text, .ristretto-text {
    align-content: right;
    justify-content: right;
    padding-left: 100px;
    display: none;
    animation: fadein 0.5s;
    float: right;
}

.ubuntucinnamon:hover {
    animation: fadeinuc 0.5s;
    animation-fill-mode: forwards;
}

.ristretto:hover {
    animation: fadeinristretto 0.5s;
    animation-fill-mode: forwards;
}

.ubuntucinnamon:hover + .ubuntucinnamon-text {
    display: inline-block;
}

.ristretto:hover + .ristretto-text {
    display: inline-block;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeinuc {
    from {
        background: lighten(@bg, 10%);
    }
    to {
        background: #DD682A;
    }
}

@keyframes fadeinristretto {
    from {
        background: lighten(@bg, 10%);
    }
    to {
        background: brown;
    }
}

.construction {
    text-align: center;
    align-content: center;
    color: white;
    background-color: orange;
    & > h1, & > h5 {
        color: white;
        background-color: orange;
    }
}

header {
    padding: 10px;
}

.contact {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-row {
    display: flex;
    justify-content: center;
    * > img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 20px;
        background: @currentline;
    }
    gap: 200px;
}

.vl {
    border-left: thin solid @fg;
}
